nav {
  background-color: aquamarine;
  padding-top: 10px;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav_item {
      display: flex;
      align-items: center;
      img {
        height: 30px;
      }
      ul {
        span {
          margin-left: 30px;
        }
      }
    }
  }
}
