nav {
  background-color: rgb(255, 255, 255);
  padding: 12px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav_item {
      display: flex;
      align-items: center;
      img {
        height: 32px;
        cursor: pointer;
      }
      ul {
        span {
          margin-left: 20px;
          padding: 0.5rem 0.8rem;
          border-radius: 5px;
          cursor: pointer;
          font-size: 18px;
          &:hover {
            background: var(--pink);
            transition: ease 0.3s;
            color: #fff;
          }
        }
      }
    }
    .login_area {
      display: flex;
      align-items: center;
      .login-Btn {
        margin-left: 20px;
        display: flex;
        align-items: center;
        background-color: #3f3f3f;
        color: #fff;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        border-radius: 5px;
        border: 1px solid #3f3f3f;
        cursor: pointer;

        &:hover {
          background: none;
          color: black;
          transition: ease 0.3s;
        }
      }

      .dropdown {
        position: relative;
        display: inline-block;

        #langu:hover {
          color: var(--pink);
          cursor: pointer;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 60px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          padding: 12px 16px;
          z-index: 1;
          border-radius: 5px;

          span {
            display: flex;
            margin: 10px 0px;
            align-items: center;
          }
        }
        &:hover {
          .dropdown-content {
            display: block;
          }
        }
      }
    }
  }
}
